<div class="wls-copy">
        This app creates a controller that makes calls to an API server, retrieving data from a MongoDB collection. The controller stores a list of collection items and presents views to retrieve and delete items, and validating forms to add and edit items. For this stock example, d3 is used to present 5-year price data.
        <p><br>
        <a href="https://github.com/woodylewis/wls-api-client" target="_blank">GitHub Repo</a>
</div>
<div id="wls-button-panel">
<a ui-sref="list"><button type="button" class="btn btn-primary">Stock List</button></a>
</div>
