/* app css stylesheet */

.nav, .wls-article-container, .panel-title a { cursor: pointer; }

body {
    text-align: center;
    color: #000;
    padding: 5em;
}

.wls-copy {
    margin:0 auto;
    text-align: left;
    border:1px solid gray;
    padding:1em;
    width:50%;
}

#wls-button-panel {
    margin:2em;
    text-align:center;
    /*border:1px solid gray;*/  
}

#wls-button-panel-secondary {
    margin: 0 auto;
    width:50%;
    text-align: center;
}

.wls-button {
    display: inline-block;
    position:relative;
    margin:.2em;
}

.wls-articlelist-container {
    /*
    width:80%;
    height:50%;*/
	margin:0 auto;
	text-align:center;
}

.wls-article-container {
    position:relative;
    /*
    width:20%;
    height:2em;*/
    padding:.1em;
    margin:.2em;
    text-align:left;
    border:1px solid gray;
}

.wls-article-box {
    margin:0 auto;
    text-align: left;
    border:1px solid gray;
    padding:1em;
    width:20em;
    height:20em;
}

#wls-keyword-container {
    margin:0 auto;
    text-align:center;
    width:80%;
}

#persons rect {
  fill: steelblue;
}

#persons text {
  fill: white;
  font:8px sans-serif;
}

#subjects rect {
  fill: steelblue;
}

#subjects text {
  fill: white;
  font:8px sans-serif;
}

#creative_works rect {
  fill: steelblue;
}

#creative_works text {
  fill: white;
  font:8px sans-serif;
}

#organizations rect {
  fill: steelblue;
}

#organizations text {
  fill: white;
  font:8px sans-serif;
}