<div class="wls-copy">
	<p class="text-center">Rank distribution for keyword types</p>
</div>
<div class="container">
	<div class="row">
		<div id="wls-button-panel">
			<div class="wls-button">
			    <a ui-sref="index"><button type="button" class="btn btn-primary">Main</button></a>
		    </div>
			<div class="wls-button">
				<a ui-sref="list"><button type="button" class="btn btn-primary">Articles List</button></a>
		    </div>
			<div class="wls-button">
				<a ui-sref="keywords"><button type="button" class="btn btn-primary">Keywords</button></a>
		    </div>
		</div>
	<div class="row">
		<div class="col-md-12">
			<svg id="persons"></svg>
			<p class="text-center"><b>persons</b></p>
	 	</div>
		<div class="col-md-12">
			<svg id="subjects"></svg>
			<p class="text-center"><b>subjects</b></p>
	 	</div>
		<div class="col-md-12">
			<svg id="creative_works"></svg>
			<p class="text-center"><b>creative_works</b></p>
	 	</div>
		<div class="col-md-12">
			<svg id="organizations"></svg>
			<p class="text-center"><b>organizations</b></p>
	 	</div>
	 </div><!-- row -->
</div><!-- container -->